# For advice on how to change settings please see
# https://gist.github.com/fevangelou/fb72f36bbe333e059b66
# https://www.796t.com/content/1563464403.html

[client]
port                  = 3306
default-character-set = utf8mb4
socket                = /tmp/mysql.sock

[mysqld]

########################################## 基礎設定 ##########################################

server-id         = 1                           # Mysql服務的唯一編號 每個mysql服務Id需唯一
port              = 3306                        # 服務埠號 預設3306
datadir           = /var/lib/mysql              # mysql資料檔案所在位置
skip_name_resolve = 1                           # 只能用IP地址檢查客戶端的登入，不用主機名
socket            = /var/run/mysqld/mysqld.sock # 設定socke檔案所在目錄

######################################## InnoDB 設定 ########################################

innodb_buffer_pool_size = 128M # 一般設定物理儲存的60% ~ 70%

########################################## 日誌設定 ##########################################

log_error = /var/log/mysqld.log # 資料庫錯誤日誌檔案
